* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: black;
  overflow-x: hidden;
}

#blur-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://static.animecorner.me/2023/07/rezero-s3-scaled.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  opacity: 0.25;
  z-index: -1;
}

.login-box {
  width: 300px;
  margin: 100px auto;
  background: rgba(0,0,0,0.7);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 20px #ff8ccf;
}

.login-box input {
  width: 90%;
  margin: 8px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  background: hotpink;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px hotpink;
}

.portal {
  text-align: center;
  padding: 40px;
}

.hidden {
  display: none;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

#scratchCanvas {
  width: 300px;
  height: 200px;
  background: silver;
  margin: 20px auto;
  border-radius: 20px;
}

#bracelet {
  width: 200px;
  display: none;
  margin: 10px auto;
}

.bracelet-cert {
  width: 180px;
  margin: 20px;
  border-radius: 20px;
}

.certificate-text {
  font-size: 18px;
  color: #ffb6f2;
}
